@font-face{
    font-family: "vintage";
    src: url(./MEDIO\ VINTAGE.otf);
}

@font-face{
    font-family: "bebas";
    src: url(BebasNeue-Regular.otf);
}

* {
    margin: 0;
    font-family: bebas;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100px;
    width: 80%;
    margin: auto;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #274cdf;
    height: 15vh;
    border-bottom: 1vh solid red;
}

.nav-bar img {
    width: 15vh;
}

.nav-bar ul {
    float: right;
    text-transform: uppercase;
    padding: 0;
    margin-right: 15vw;
}

.nav-bar li {
    list-style: none;
    float: left;
    margin: 5vh 1vw;
    padding: 1vh 2vw;
    font-weight: 600;
    font-size: 3vh;
}

.nav-bar li:hover {
    background-color: red;
    color: white;
    border-radius: 15px 15px;
}

.banner {
    height: 84vh;
    background-image: url(../imagem/jordan.png);
    background-color: #adadad8e;
    background-size: cover;
    background-position-x: center;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-attachment: local;
}

.container-banner {
    opacity: 1.5;
    width: 35vw;
    color: #ff0000;
    font-size: 4vh;
    margin-left: 5vw;
    padding-top: 7vh;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000; */
}

.container-banner h1 {
    font-family: 'vintage';
    font-size: 8vh;
}

.acesso {
    float: right;
    margin-right: 10vw;
    margin-top: -30vh;
}

.acesso button {
    width: 20vw;
    height: 10vh;
    background-color: red;
    border: 2px solid red;
    margin-top: 4vh;
    font-size: 5vh;
    transition-duration: 0.7s;
    transition-property: color, background;
}

.acesso button:hover {
    background-color: black;
    color: red;
}