* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100px;
    width: 80%;
    margin: auto;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #274cdf;
    height: 15vh;
    border-bottom: 5px solid red;
}

.nav-bar img {
    width: 15vh;
}

.nav-bar ul {
    float: right;
    text-transform: uppercase;
}

.nav-bar li {
    list-style: none;
    float: left;
    padding: 6vh 3vw;
    font-weight: 300;
}