* {
    margin: 0;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #274cdf;
    height: 17vh;
}

.nav-bar img {
    width: 7%;
    margin-top: 2px;
}

.nav-bar ul {
    list-style-type: none;
}