* {
    margin: 0;
    font-family: bebas;
}

@font-face{
    font-family: "bebas";
    src: url(BebasNeue-Regular.otf);
}

.container {
    height: 100px;
    width: 80%;
    margin: auto;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #274cdf;
    height: 15vh;
    border-bottom: 1vh solid red;
}

a {
    text-decoration: none;
    color: transparent;
}

.nav-bar img {
    width: 15vh;
}

.nav-bar ul {
    float: right;
    text-transform: uppercase;
    padding: 0;
    margin-right: 10vw;
}

.nav-bar li {
    list-style: none;
    float: left;
    margin: 5vh 1vw;
    padding: 1vh 2vw;
    font-weight: 600;
    font-size: 3vh;
    color: black;
}

.nav-bar li:hover {
    background-color: red;
    color: white;
    border-radius: 5vh;
}

.banner {
    height: 84vh;
    background-image: url(../imagem/wall-sobre.jpg);
    background-color: black;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.footer {
    border-top: 1vh solid red;
    height: 20vh;
    background-color: #274cdf;
    color: black;
}

.footer img {
    height: 19vh;
    float: right;
}

.contato {
    margin-left: 2vw;
    float: left;
    width: 10vw;
    font-size: 2.5vh;
}