@font-face{
    font-family: "vintage";
    src: url(./MEDIO\ VINTAGE.otf);
}

@font-face{
    font-family: "bebas";
    src: url(BebasNeue-Regular.otf);
}

* {
    margin: 0;
    font-family: bebas;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 15vh;
    width: 80vw;
    margin: auto;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #274cdf;
    height: 15vh;
    border-bottom: 1vh solid red;
}

.nav-bar img {
    width: 15vh;
}

.nav-bar ul {
    float: right;
    text-transform: uppercase;
    padding: 0;
    margin-right: 15vw;
}

.nav-bar li {
    list-style: none;
    float: left;
    margin: 5vh 1vw;
    padding: 1vh 2vw;
    font-weight: 600;
    font-size: 3vh;
}

.nav-bar li:hover {
    background-color: red;
    color: white;
    border-radius: 15px 15px;
}

.banner {
    height: 100vh;
    background-image: url(../imagem/jordan.png);
    background-color: black;
    background-size: cover;
    background-position-x: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.container-banner {
    opacity: 1.5;
    width: 35vw;
    color: #ff0000;
    font-size: 4vh;
    margin-left: 5vw;
    padding-top: 7vh;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000; */
}

.container-banner h1 {
    font-family: 'vintage';
    font-size: 8vh;
}

.acesso {
    float: right;
    margin-right: 10vw;
    margin-top: -30vh;
}

.acesso button {
    width: 20vw;
    height: 10vh;
    background-color: red;
    border: 2px solid red;
    margin-top: 4vh;
    font-size: 5vh;
    transition-duration: 0.7s;
    transition-property: color, background;
}

.acesso button:hover {
    background-color: black;
    color: red;
}

.legenda {
    height: 5vh;
    width: 80vw;
    margin: 2vh auto;
    text-align: center;
    padding: 10vh;
}

.legenda hr, h2 {
    float: left;
}

.legenda hr {
    width: 26vw;
    margin-top: 2vh;
}

.legenda h2 {
    color: red;
    width: 27vw;
    font-size: 4vh;
}

.card-left {
    height: 20vh;
    width: 60vw;
    margin: 2vh 10vw;
    text-align: center;
    border: 1vh solid red;
    border-radius: 4.1vh;
    color: black;
    background-color: white;
}

.card-left img {
    height: 20vh;
    float: left;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
}

.card-left h1 {
    margin-top: 1vh;
}

.card-left h3 {
    margin-top: 2vh;
}

.card-right {
    height: 20vh;
    width: 60vw;
    margin: 5vh 25vw;
    text-align: center;
    border: 1vh solid red;
    border-radius: 4.1vh;
    color: black;
    background-color: white;
}

.card-right img {
    height: 20vh;
    float: right;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.card-right h1 {
    margin-top: 1vh;
}

.card-right h3 {
    margin-top: 2vh;
}

.footer {
    border-top: 1vh solid red;
    margin-top: 10vh;
    height: 19vh;
    background-color: #274cdf;
    color: black;
}

.footer img {
    margin-top: -13vh;
    height: 19vh;
    float: right;
}

.contato {
    margin: 1vh 2vw;
    float: left;
    width: 10vw;
}